/*------------Body------------------------------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
/*----------/Body------------------------------------------------*/
/*-----------Logo------------------------------------------------*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.text-logo {
  color: #2e2f42;
}
/*----------/Logo------------------------------------------------*/
/*----------Header---------------------------------------------- */
.menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-studio:hover, .menu-portfolio:hover,
.menu-contact:hover {
  color: #404bbf;
}
.menu-studio:focus, .menu-portfolio:focus,
.menu-contact:focus {
  color: #404bbf;
}
 /* link-contact */
.link-contact {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }
.link-contact:hover, .link-contact:focus {
  color: #404bbf;
}
/*-----------/Header--------------------------------------------*/
/*-----------Main-----------------------------------------------*/
/*-----------Section1-------------------------------------------*/
.page-section1 {
  background: #2e2f42;
}
.main-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.button-order-service {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}
.button-order-service:hover, .button-order-service:focus {
  background: #404bbf;
}
/*-----------/Section1------------------------------------------*/
/*------------Section2------------------------------------------*/
.title-page-section2{font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;}
.text-section2{font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }
/*----------/Section2--------------------------------------------*/ 
/*-----------Section3---------------------------------------------*/ 
.page-section3{background: #f4f4fd;}
.text-our-team{font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;}
 .title-page-section3{font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
    color: #2e2f42;} 
.text-section3{font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
  }
/*-----------/Section3--------------------------------------------*/
/*------------Section4--------------------------------------------*/
.text-our-portfolio{font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;}
  .text-title-section4{font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize}
    .text-section4{font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
     }
/*-----------/Section4-------------------------------------------*/
/*----------/Main------------------------------------------------*/
/*-----------Footer----------------------------------------------*/
.page-footer{background: #2e2f42;}
.logo-footer {
  font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.text-logo-footer {
  color: #f4f4fd;}
.text-footer{font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;}
/*-----------Foooter---------------------------------------------*/
