
/*------------Body-------------*/
body{font-family: "Roboto", sans-serif;
background-color: #fff;}
ul,ol {list-style-type: none;}
a {text-decoration: none;}
/*----------End Body------------*/
/*-----------Logo------------ */
.logo{font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
color: #4d5ae5;
}
    

/* link-main */
.link-main{font-family: "Roboto", sans-serif;
    color: #2e2f42;
    font-weight: 500;
        font-size: 16px;
        }
         
    
/* link-contact */
.link-contact{font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;}
        
